header
    background #E6C9BE
    color #ffffff
.section1
    background #f2f2f2
    overflow hidden
    // height (250px/2)
    .content
        background #fff
        width (730px/2)
        height (230px/2)
        border-radius (10px/2)
        margin (12px/2) auto
        display flex
        flex-direction column
        align-items center
        justify-content center
        span 
            font-size (24px/2)
            color #BCBCBC
        .count
            display flex
            margin-top (10px/2)
            align-items center
            img 
                width (81px/2)
                height (81px/2)
            span 
                font-size (90px/2)
                font-family 'Arvo'
                color #FCD41B
.section2
    background #fff
    height: (80px/2)
    display flex
    align-items center
    padding-left: (32px/2)
    font-size: (28px/2)
    img 
        width: (50px/2)
        height (50px/2)
.line
    height (12px/2)
    width 100%
    background #f2f2f2
.section3
    ul
        padding 0 5px
        li
            display flex
            position relative
            height (120px/2)
            align-items: center
            justify-content: space-between
            padding 0 5px 0 40px
            border-bottom 2px solid #F2F2F2
            font-size 14px

            &:before
                content: ''
                width: (47px/2)
                height (47px/2)
                position absolute
                left 0
                top: 50%
                background url('~static/wangwangbi.png') no-repeat center/23px 23px
                transform: translate3d(50%,-50%,0)
            // img 
            //     width: (47px/2)
            //     height (47px/2)
            button
                width: (130px/2)
                height (45px/2)
                // line-height: 
                font-size: (24px/2)
                border 2px solid #00CCCC
                color #00CCCC
                background: #ffffff
                border-radius: 11px



