body
    padding-bottom: (100px/2)
header
    background #E5CABF
.content
    padding:(40px/2) (26px/2) 0
    p.desc
        font-size (28px/2)
        font-weight 500
    .input-wrap
        font-size (30px/2)
        h2
            font-weight bold
            margin (35px/2) 0 (25px/2)
        input[type=text]
            width 100%
            line-height (75px/2)
            border-radius (20px/2)
            border (2px/2) solid #797979
            text-indent (20px/2)
    .section1
        font-size: (28px/2)
        h2
            margin (35px/2) 0 (25px/2)
            font-size: (30px/2)
            font-weight: bold
        .tip
            color: #868686
        .example
            display flex
            justify-content: space-around
            margin-top: (22px/2)
            .port
                display flex
                flex-direction: column
                align-items: center
                img 
                    width: (310px/2)
                    height (210px/2)
                    // border-radius: (20px/2)
                    // border (2px/2) solid #6D6D6D
                span 
                    font-size:(30px/2)
                    margin-top: (15px/2)
        .IDCard-upload
            display flex
            justify-content: space-around
            margin-top: (22px/2)
            margin-bottom: (130px/2)
            .port
                display flex
                flex-direction: column
                justify-content: center
                align-items: center
                width: (310px/2)
                height (210px/2)
                border (2px/2) solid #797979
                border-radius: (15px/2)
                position relative
                background-size contain
                background-position: top center
                background-repeat: no-repeat
                img 
                    width (50px/2)
                    height (50px/2)
                span 
                    font-size: (24px/2)
                    margin-top: (26px/2)
                input[type=file]
                    width: 100%
                    height 100%
                    opacity 0
                    position absolute
                    top: 0
                    left 0

.submit
    height (100px/2)
    line-height: (100px/2)
    font-size: (32px/2)
    background #00CCCC
    color: #ffffff
    position fixed
    bottom: 0
    left 0
.color-white
  color #fff