.next {
  background: #EFC2BC;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
}

.button-wrap {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  color: #fff;
}

.next2 {
  flex: 1;
  &:first-child {
    background: #E6C9BE;
  }

  &:last-child {
    background: #BC8176;
  }
}
body
    background: #fff
    padding-bottom: 56px;
.img-wrap
  width: 100%;
  height 375px;
  background-color: #D7D7D7
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain
  text-align center
.pic
    height 375px
    width auto
    margin 0 auto
.content
    position relative
    display block
    padding-bottom: 50px
.img_wrap
    width: 100%
    height 375px
    .swiper-silde
        height 375px
        background-size: contain
        background-repeat: no-repeat
        background-position: top center
.btn-wrap
    position absolute
    bottom: -15px
    left: 50%
    transform: translate3d(-50%,0,0)
    display flex
    width: 310px
    justify-content: space-between
    z-index: 2

    li
        box-shadow: 2.5px 2.5px 2.5px #D7D7D7;
        background #fff
        border-radius: 50%

        width: 64px
        height 64px
        display flex
        justify-content: space-around
        align-items: center
        img
            width: 35px
            height 35px
.text-wrap
    .baseInfo
        height 95px
        font-size: 14px
        padding:23px 15px 25px
        box-sizing: border-box
        .iconfont
            font-size: 20px
        .brief
            span ~span
                margin-left: 15px
        .nickname
            float left
            font-weight: bold
        .sex
            float left
            color: #E89ABE
            margin-left: 10px;
        .addr
            float right
            color: #6B6B6B
            .icon-zuobiao
                color: #BC8176
.line
    width: 100%
    height 8px
    background #F2F2F2
.tag-wrap
    box-sizing: border-box
    padding:14px
    .title
        font-size: 14px
        font-weight: 500
        margin-bottom: 14px
.baseInfo-tag
    display flex
    flex-wrap: wrap
    font-size: 13px
    color: #BC8176
    .tag-item
        // width: 70px
        height 25px
        border-radius: 6px
        line-height: 25px
        border: 2px solid #BC8176
        text-align: center
        padding:0 5px
        margin:10px 7px 0
.neixindubai
    box-sizing: border-box
    padding: 14px
    font-size: 14px
    font-weight: 500
    p
        margin-top: 15px
        word-wrap: break-word;


            

